@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.login__container {
    background: #333;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    background-image: url('./images/planeWing.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.btn__conatiner {
    text-align: center;
}

.form__head{
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.login__form {
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 350px;
    margin: 0px auto;
    border-radius: 6px;
    box-sizing: border-box;
}
.login__form--input {
    display: block;
    margin-bottom: 1.5em;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.login__form--btn {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ffa600;
    background: #ffa600;
    color: #fff;
    border-radius: 3px;
    font-size: 13px;
    padding: 10px 20px;
    transition: 0.3s ease-out;
    outline: 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.login__form--btn:hover {
    box-shadow: 0 14px 26px -12px rgba(251, 172, 96, 0.4);
}

.login__form--group {
    position: relative;
}
.login__form--icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.login__form--icon.eye-closed {
    width: 20px;
    left: 90%;
    cursor: pointer;
}

.error {
    color: red;
}
